.nav1 {
    word-spacing: 30px;
    background-color: brown;
    color: white;
    text-align: center;
    width: 730px;
    margin-left: 130px;
}

table tr td {
    color: white;
    text-align: left;
}

.start {
    width: 1000px;
    height: 450px;
    background-color: rgb(224, 217, 217);
    border: 4px black solid;
    margin-left: 170px;
}

.learn1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.learn {
    width: 500px;
    height: 300px;
    background-color: rgb(41, 40, 40);
    margin-left: 240px;
}

.ft {
    color: brown;
    text-align: center;
}